body {
    font-family: sans-serif;
    background-color: #FF9400;
}

header {
    justify-content: space-between;
    padding:5px ;
    margin-bottom: 20px;
    display: flex;
    background-color: #FFAE40;
}

.button {
    background-color: #A66000;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: flex;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;

}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding:6px 9px  13px 9px ;
    width: 400px;
    margin:17px 50px 17px 50px ;

}

.article-but {
    text-decoration: none;
    background-color: #A66000;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #A66000;
    padding:5px ;
    display: flex;
}

footer a {
    margin-right:20px ;
}

footer p {
    font-size: 24px;
}